﻿/* Reset the container */
.container {
  width: 100%;
  max-width: none !important;
}


#divButtons {
    width: 14% !important;
    padding:0 5px;
}

#divFrame {
    width: 86% !important;
    padding:0;
}

.indent-column{
    margin:60px 0 0 25px;
    background-color:#f9f9f9;
    border-radius:5px;
}

#frame {
    width: 100% !important;
    padding:0;
}

.button-search {
    margin:0; 
    padding:5px 0;
}

.input-search, .button-search:focus {
    font-size:16px;
    color:#59ABE3;
    padding:0 5px 0 27px;
    border:none;
    margin: 10px 0 10px 3px;
    border-color: transparent;    
    -webkit-box-shadow: none;
    box-shadow: none !important;    
    background: #ffffff url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698838-icon-111-search-24.png") no-repeat left;
}

.panel-heading {
    padding:0;
}
.panel-body {
    padding:5px;
}

.panel-title > a {
    display:block;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    text-decoration:none;
}
.panel-title > a:hover {
    color:#59ABE3;
    text-decoration:none;
}
.panel-title > a:focus {
    color:#59ABE3;
}